* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

/************************************      NAV       *********************************/
nav {
  background-image: url(../imagenes/posiblefondo2.png);
  
}

.container-fluid {
  padding-left: 0;
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
  
  
}

nav.navbar.navbar-expand-lg.bg-light {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  
  width: 100%;
}

.nav-link {
  color: white;
  margin-left: 160px;
  letter-spacing: 1pt;
  transition-duration: 0.1s;
}

.nav-link2 {
  text-decoration: none;
  
  color: rgba(255, 255, 255, 0.447);
  margin-top: 8px;
  margin-left: 175px;
  letter-spacing: 1pt;
  transition-duration: 0.1s;
  padding-bottom: 13px;
  
}


.nav-link2:hover {
  
  
  color:rgba(255, 255, 255, 0.391);
  
  
 
  transition: all 0.5s ease-in-out;

}

.nav-link:hover {
  letter-spacing: 1.8pt;
  color: rgb(182, 177, 183);

  transition: all 0.5s ease-in-out;
}

button.navbar-toggler {
  background-color: rgba(182, 177, 183, 0.422);
}

/*************************************************************************************/

#principal {
  width: 100%;
  height: 100vh;
  background: url("../imagenes/fondoiniciojuan.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-principal {
  background-color: rgba(0, 0, 0, 0.528); 
  color: white;
  margin: 30px;
  text-align: center;
  padding: 40px;
}

.texto-principal h1 {
  font-size: 60px;
  letter-spacing: 3pt;
  text-shadow: 5px 5px 5px black;
}

.imagenprincipal {
  width: 100%;
  height: 100%;
}

footer.seccion {
  background-image: url(../imagenes/posiblefondo2.png);
  color: white;

  padding-bottom: 0;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer .redes {
  font-size: 30px;
  display: flex;
}
footer .redes a {
  margin: 0 5px;
}

footer ul li {
  margin-bottom: 10px;
}

footer .logo-footer {
  display: none;
}

footer p {
  margin-bottom: 30px;
}

footer a {
  padding: 10px;
  color: rgba(255, 255, 255, 0.391);
  text-decoration: none;
}

footer a:hover {
  color: blueviolet;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

footer .barra-footer {
  background-image: url(../imagenes/posiblefondo1.png);
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color:rgba(255, 255, 255, 0.391); ;
}

.botonbotonvioleta {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: blueviolet;
  box-shadow: 0px 3px 3px black;
  filter: grayscale(1);
}
.botonbotonvioleta:hover {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;

  background-color: blueviolet;
  box-shadow: 0px 3px 3px black;
  transition: all 0.5s ease-in-out;
  filter: grayscale(0);
  font-size: 18px;
}

.botonbotonvioleta a {
  text-decoration: none;
  color: white;
}

#vermas h2 {
  text-align: center;
  background-image: url(../imagenes/posiblefondo2.png);

  padding: 30px 10px 10px 10px;
  color: white;
  margin-bottom: 0;
}

#vermas p {
  background-image: url(../imagenes/posiblefondo2.png);
  text-align: justify;
  padding: 50px 50px 50px 50px;
  margin-bottom: 0;
  color: white;
}

#textovioletavermas {
  background-image: url(../imagenes/posiblefondo2.png);
  text-align: justify;
  padding: 0px 50px 50px 50px;
  margin-bottom: 0;
  color: white;
}

#vermas span {
  color: rgba(255, 255, 255, 0.391);
  font-weight: bold;
}

.redes span {
  padding-top: 8px;
  font-size: 16px;

  color: rgba(255, 255, 255, 0.391);
}


#vermas{
  position: relative;
}
.videoprincipal{
  
  position: absolute;
  bottom: 9%;
  left: 60%;
  filter: grayscale(1);
  opacity: 35%;
  padding:10px;
}

.videoprincipal:hover{
  filter: grayscale(0);
  opacity: 100%;
  transition: all ease-in 0.5s;
  padding: 0px;
}

 
  








/**************************************************************************************************************************************/
/*********************************************************** DISCOGRAFIA **********************************************************/




.demoliendocafe{
  background-color: rgba(5, 5, 5, 0.377);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 10px 10px 10px;
  background-image: url(../imagenes/posiblefondo1.png);
  filter: grayscale(1);
  animation-name: animacion-albumes;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  min-width: 250px;
}






.textodemoliendocafe{
  width: 50%;
  padding: 20px;
  margin-left: 3px;
  background-image: url(../imagenes/posiblefondo2.png);
  color: white;
  box-shadow: 3px 3px 5px black;
}

.laselva{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background-image: url(../imagenes/posiblefondo1.png);
  filter: grayscale(1);
  animation-name: animacion-albumes;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  min-width: 250px;
  
}

.textolaselva{
    background-image: url(../imagenes/posiblefondo2.png);
    width: 50%;
    padding: 20px;
    margin-left: 3px;
    color: white;
    box-shadow: 3px 3px 5px black;
    
  }





  @keyframes animacion-albumes {
    0% {
      filter: grayscale(1);
      
    }
    100% {
      filter: grayscale(0);
      
    }
  }
  @keyframes animacion-albumes2 {
  0%{
    
    filter:grayscale(1);    
  }
  100%{
    filter: grayscale(0);
  }
}

 

  .imagenalbum1{
    animation-name: rotarimagen;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }


  .imagenalbum2{
    animation-name: rotarimagen;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

 

  

  @keyframes rotarimagen {
    0%{
      transform:rotate(0deg); 
      border-radius: 100%;
      opacity: 1%;
    }

    10%{
      transform:rotate(0deg); 
      border-radius: 100%;
      opacity: 30%;
    }
    25%{
      transform:rotate(0deg); 
      border-radius: 100%;
      opacity: 50%;
    }


    100% { transform: rotate(720deg);
      filter:brightness(89%);
      
    
  }

  }





  #iframeinvisible{
    display: none;
  }
  #iframeinvisible2{
    display: none;
  }
  
  
  #iframealbum{
    opacity: 25%;
  }
  #iframealbum2{
    opacity: 25%;
  }

  #iframealbum:hover{
    opacity: 100%;
    transition: all 0.5s ease-in-out;
  }

  #iframealbum2:hover{
    opacity: 100%;
    transition: all 0.5s ease-in-out;
  }
 
  footer .barra-footer2 {
    background-image: url(../imagenes/posiblefondo2.png);
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:rgba(255, 255, 255, 0.391); ;
  }
  footer.seccion {
    background-image: url(../imagenes/posiblefondo1.png);
    color: white;
  
    padding-bottom: 0;
  }



  .galeria img{
    width: 50%;
    height: 5%;
    padding: 15px;
    filter:grayscale(1);
    opacity: 60%;;
  }



  .galeria img:hover{
    filter: grayscale(0);
    transition: all 0.9s ease-in-out;
    padding: 10px;
    opacity: 100%;
  }


  
  
  .galeria{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../imagenes/posiblefondo1.png);
   
  }

/**********************************RESPONSIVE*********************************/

@media screen and (max-width:1391px){
  .videoprincipal{
    display: none;
  }
}

@media screen and (max-width:639px){
  .imagenalbum1{
    width: 80%;
    height: 50%;
  }
  
  .textodemoliendocafe{
    width: 80%;
    height: 50%;
  }
  .textolaselva{
    width: 80%;
    height: 50%;
  }
  .imagenalbum2{

    width: 80%;
    height: 50%;
  }
}

@media screen and (max-width:382px){

  .imagenalbum1:hover{
    
      animation-name: rotarimagen;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }

  #discografiamenu{
    background-image: url(../imagenes/posiblefondo2.png);
  }
  #iframealbum{
    display: none;
  }

  #iframealbum2{
    display: none;
  }

  #iframeinvisible{
    display: flex;
    opacity: 25%;
  }

  #iframeinvisible2{
    display: flex;
    opacity: 25%;
  }

  #iframeinvisible:hover{
    opacity: 100%;
    
    transition: all 0.5s ease-in-out;
  }
  #iframeinvisible2:hover{
    opacity: 100%;
    
    transition: all 0.5s ease-in-out;
  }

  
  .textolaselva{
    font-size: 0.6em;

  }

  .textodemoliendocafe{
    font-size: 0.6em;
  }

  

}





























/*****************************DESARROLLADOR***************************/

#body-desarrollador{

    background-color: black;
    position: relative;
    z-index: -2;
    padding: 0;
    margin: 0;
}



#particles-js {
	height: 100vh; 
	width: 100%;
  position: absolute;
  z-index: -1;
}



.contenido-desarrollador p{
  padding-left: 5%;
  padding-right: 5%;

}

.contenido-desarrollador {
	width: 90%;
	max-width: 1200px;
  
  background-color: rgba(137, 43, 226, 0.517);
  color: white;
  

  
	margin-left: auto; 
	margin-right: auto;
  margin-top: 1%;
 
  padding: 20px 30px;
  position: relative;
  z-index: 99;
  opacity: .65;
  top: 60px;
  
}


.contenido-desarrollador H1{
  text-align: center;
  
}

.contenido-desarrollador p{
  padding-left: 5%;
  padding-right: 5%;
  
  
}






